.button1{

    font-size: 33px;
    background-color: #4CAF50;
    color: rgb(238, 50, 50);
}
.title{

    font-size: 33px;
    background-color: #4CAF50;
    color: rgb(238, 50, 50);
}
.custom-button:hover {
    background-color: #45a049;
}